* {
  max-width: 100%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  
}

.row {
  margin: 0 -5px;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  min-width: 205px;
  min-height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f1f1f1;
  color: black;
}



.card:hover{
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

img{
width:50%;
}




@media screen and (min-width: 99px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  .row{
    margin: 0;
  }
}
@media screen and (min-width: 510px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 10px;
  }
  .row{
    margin: 0;
  }
}
@media screen and (min-width: 1000px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

